html, body, table, tbody, tr, td{
	margin: 0px;
	padding: 0px;
	background-color: #0085ad;
	color:#ffffff;
}
html{
	font-family: arial;
}
#header{
	width: 100%;
	height: 5%;
	padding: 0.5em;
	background-color: #0085ad;
}
#content{
	height: 92.2%;
}
#logo{
	height: 100%;
}
#header_text{
	height: 2.5em;
	color:#FFFFFF;
}
#main_screen{
	height:96%;
}
#footer{
	height:4%;
	border-top: 1px solid white;
}
#footer img{
	height:100%;
	vertical-align:middle;
}
#more_button{
	text-decoration:none;
	color:#ffffff;
}
.buttons{
	width:7.5em;
    vertical-align:middle;
}
table span{
	display:table-cell;
}
#buttons_table{
	vertical-align:middle;
}
div center{
	height:100%;
}
center table{
	height:100%;
}